# .gitignore

# downloadsフォルダを無視する
/downloads/

#libフォルダを無視する
/lib/

# .vscodeフォルダを無視する
/.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.class
/userPreparedData/